name: External tests

on:
  workflow_dispatch:
    inputs:
      nodes:
        description: "Number of provider nodes"
        required: true
        default: "10"
      central_net_host:
        description: "Central net host"
        required: false
        default: "polygongas.org:6999"
      num_workers:
        description: "Number of parallel workers"
        required: false
        default: "5"
      extra_delay_secs:
        description: "Delay between consecutive workers starting"
        required: false
        default: "10"

concurrency:
  group: external-tests

jobs:
  set-matrix:
    name: Prepare external test environment
    runs-on: ubuntu-latest
    outputs:
      workers: ${{ steps.set-matrix.outputs.workers }}
    steps:
      - name: Delete external offers (from previous runs)
        run: |
          NUMBER_OF_GROUPS=${{ github.event.inputs.num_workers }}
          # Create JSON file
          echo "{\"numberOfGroups\": ${NUMBER_OF_GROUPS}}" > body.json
          
          # Send POST request
          curl --fail-with-body -X POST http://polygongas.org:11500/test/initialize \
            -H "Content-Type: application/json" \
            -d @body.json

      - id: set-matrix
        run: |
          NUMBER_OF_GROUPS=${{ github.event.inputs.num_workers }}
          # Use seq to generate numbers, then jq to turn them into a JSON array
          WORKERS=$(seq 0 $(($NUMBER_OF_GROUPS - 1)) | jq -R . | jq -s -c .)
          echo "Setting: workers=$WORKERS"
          echo "workers=$WORKERS" >> $GITHUB_OUTPUT

  build-binary:
    name: Build binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release -p yagna-offer-server

      - name: Upload binary
        uses: actions/upload-artifact@v5
        with:
          name: yagna-offer-server
          path: target/release/yagna-offer-server

  provider:
    name: Provider part - ${{ github.event.inputs.nodes }} nodes
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [set-matrix, build-binary]
    strategy:
      fail-fast: false
      matrix:
        provider_group: ${{fromJSON(needs.set-matrix.outputs.workers)}}

    steps:
      - name: Wait
        run: |
          sleep $(( ${{ matrix.provider_group }} * ${{ github.event.inputs.extra_delay_secs }} ))

      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Force install python libraries
        run: |
          # Don't do this at home
          sudo pip install --ignore-installed requests eth-account dotenv --break-system-packages

      - name: Setup providers
        run: |
          (cd integration && ./setup_provider.sh ${{ github.event.inputs.nodes }})
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.15"
          CENTRAL_NET_HOST: "${{ github.event.inputs.central_net_host }}"
          OFFER_SERVER: "http://polygongas.org:11500"
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Start providers
        run: |
          (cd integration && ./start_and_detach_provider.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Wait for requestors to finish
        run: |
          until (curl --fail-with-body http://polygongas.org:11500/test/finished/check); do
            printf "\n-- Test not yet finished, retrying in 10 seconds...\n"
            sleep 10
          done

      - name: Kill services
        if: always()
        run: |
          (cd integration && ./kill_all.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Logging
        if: always()
        run: |
          (cd integration && ./collect_provider_logs.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Collect logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: provider-logs-${{ matrix.provider_group }}-${{ github.event.inputs.nodes }}
          path: 'integration/all-logs.tar.gz'

  provider2:
    name: Provider part - ${{ github.event.inputs.nodes }} nodes
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [set-matrix, build-binary]
    strategy:
      fail-fast: false
      matrix:
        provider_group: ${{fromJSON(needs.set-matrix.outputs.workers)}}

    steps:
      - name: Wait
        run: |
          sleep $(( ${{ matrix.provider_group }} * ${{ github.event.inputs.extra_delay_secs }} ))

      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Force install python libraries
        run: |
          # Don't do this at home
          sudo pip install --ignore-installed requests eth-account dotenv --break-system-packages

      - name: Setup providers
        run: |
          (cd integration && ./setup_provider.sh ${{ github.event.inputs.nodes }})
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.15"
          CENTRAL_NET_HOST: "${{ github.event.inputs.central_net_host }}"
          OFFER_SERVER: "http://polygongas.org:11500"
          MACHINE_PROV: "gtg${{ matrix.provider_group }}"

      - name: Start providers
        run: |
          (cd integration && ./start_and_detach_provider.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gtg${{ matrix.provider_group }}"

      - name: Wait for requestors to finish
        run: |
          until (curl --fail-with-body http://polygongas.org:11500/test/finished/check); do
            printf "\n-- Test not yet finished, retrying in 10 seconds...\n"
            sleep 10
          done

      - name: Kill services
        if: always()
        run: |
          (cd integration && ./kill_all.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gtg${{ matrix.provider_group }}"

      - name: Logging
        if: always()
        run: |
          (cd integration && ./collect_provider_logs.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gtg${{ matrix.provider_group }}"

      - name: Collect logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: provider-logs-${{ matrix.provider_group }}-${{ github.event.inputs.nodes }}
          path: 'integration/all-logs.tar.gz'
  requestor:
    name: Requestor part
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [set-matrix, build-binary]
    strategy:
      fail-fast: false
      matrix:
        requestor_group: ${{fromJSON(needs.set-matrix.outputs.workers)}}

    steps:
      - name: Wait
        run: |
          sleep $(( ${{ matrix.requestor_group }} * ${{ github.event.inputs.extra_delay_secs }} ))

      - name: Checkout
        uses: actions/checkout@v4

      - name: Notify server about requestor start
        run: |
          curl --fail-with-body -X POST http://polygongas.org:11500/test/start \
            -H "Content-Type: application/json" \
            -d '{
            "group": "gth${{ matrix.requestor_group }}"
          }'

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Download binary
        uses: actions/download-artifact@v5
        with:
          name: yagna-offer-server

      - name: Verify binary
        run: |
          chmod +x yagna-offer-server 
          ./yagna-offer-server --version

      - name: Force install python libraries
        run: |
          # Don't do this at home
          sudo pip install --ignore-installed requests eth-account dotenv --break-system-packages

      - name: Setup requestor
        run: |
          (cd integration && ./setup_requestor.sh)
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.15"
          CENTRAL_NET_HOSTS: "${{ github.event.inputs.central_net_host }}"

      - name: Start matcher
        run: |
          ./yagna-offer-server 2>&1 | tee matcher.log &
        env:
          PICK_OFFERS_INTERVAL_SECS: "0.1"
          OFFER_SOURCE_URL: "http://polygongas.org:11500/offers/list"
          OFFER_MIRROR_SYNC_INTERVAL_SECS: "10"
          OFFER_GROUP: ".*"

      - name: Start services
        run: |
          (cd integration && ./start_and_detach_requestor.sh)
        env:
          PICK_OFFERS_INTERVAL_SECS: "0.1"
          OFFER_SOURCE_URL: "http://polygongas.org:11500/offers/list"
          OFFER_MIRROR_SYNC_INTERVAL_SECS: "10"

      - name: Wait for providers to be online
        run: |
          set -e
          
          let EXPECTED_COUNT=${{ github.event.inputs.nodes }}
          until (cd integration && python count_offers.py \
            --url "$OFFER_SOURCE_URL" \
            --expected-count $(($EXPECTED_COUNT * 2)) \
            --name-filter "$OFFER_GROUP"); do
            printf "\nProviders not ready yet, retrying in 10 seconds...\n"
            sleep 10
          done
          
          echo "Providers are online"
        env:
          OFFER_SOURCE_URL: "http://polygongas.org:11500/offers/list"
          OFFER_GROUP: ".*"

      - name: Check rentals
        run: |
          for i in $(seq 1 20); do
            (cd integration && ./show_rentals.sh ${{ github.event.inputs.nodes }}) || true
            sleep 10
          done
          
          MAX_ATTEMPTS=10
          COUNT=0
      
          until (cd integration && ./show_rentals.sh ${{ github.event.inputs.nodes }}); do
            COUNT=$((COUNT + 1))
            if [ "$COUNT" -ge "$MAX_ATTEMPTS" ]; then
              echo "Providers not ready after $((MAX_ATTEMPTS * 10)) seconds, exiting."
              exit 1
              fi
            printf "\nProviders not ready yet, retrying in 10 seconds...\n"
            sleep 10
          done

      - name: Notify server about finish
        if: always()
        run: |
          if [ "${{ job.status }}" = "success" ]; then
            SUCCESS=true
          else
            SUCCESS=false
          fi
          
          curl --fail-with-body -X POST http://polygongas.org:11500/test/finish \
            -H "Content-Type: application/json" \
            -d "{
              \"group\": \"gth${{ matrix.requestor_group }}\",
              \"success\": $SUCCESS
            }"

      - name: Wait for other tests to finish
        run: |
          until (curl --fail-with-body http://polygongas.org:11500/test/finished/check); do
            printf "\n-- Test not yet finished, retrying in 10 seconds...\n"
            sleep 10
          done

      - name: Show demands
        if: always()
        run: |
          curl http://127.0.0.1:15155/requestor/demands/list | jq

      - name: Kill services
        if: always()
        run: |
          (cd integration && ./kill_all.sh ${{ github.event.inputs.nodes }})

      - name: Collect logs
        if: always()
        run: |
          (cd integration && ./collect_requestor_logs.sh  ${{ github.event.inputs.nodes }})

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: requestor-logs-${{ matrix.requestor_group }}-${{ github.event.inputs.nodes }}
          path: 'integration/all-logs.tar.gz'