name: External tests

on:
  workflow_dispatch:
    inputs:
      nodes:
        description: "Number of provider nodes"
        required: true
        default: "10"
      central_net_host:
        description: "Central net host"
        required: false
        default: "polygongas.org:6999"
      num_workers:
        description: "Number of parallel workers"
        required: false
        default: "5"

concurrency:
  group: external-tests

jobs:
  set-matrix:
    name: Prepare external test environment
    runs-on: ubuntu-latest
    outputs:
      workers: ${{ steps.set-matrix.outputs.workers }}
    steps:
      - name: Delete external offers (from previous runs)
        run: |
          NUMBER_OF_GROUPS=${{ github.event.inputs.num_workers }}
          curl --fail-with-body -X POST http://polygongas.org:11500/test/initialize \
            -H "Content-Type: application/json" \
            -d '{
            "numberOfGroups": ${NUMBER_OF_GROUPS} 
          }'
      - id: set-matrix
        run: |
          NUMBER_OF_GROUPS=${{ github.event.inputs.num_workers }}
          # Use seq to generate numbers, then jq to turn them into a JSON array
          WORKERS=$(seq 0 $(($NUMBER_OF_GROUPS - 1)) | jq -R . | jq -s -c .)
          echo "Setting: workers=$WORKERS"
          echo "workers=$WORKERS" >> $GITHUB_OUTPUT


  provider:
    name: Provider part - ${{ github.event.inputs.nodes }} nodes
    timeout-minutes: 10
    runs-on: salad-prov
    needs: set-matrix
    strategy:
      fail-fast: false
      matrix:
        provider_group: ${{fromJSON(needs.set-matrix.outputs.workers)}}

    steps:
      - name: Wait
        run: |
          sleep $(( ${{ matrix.provider_group }} * 4 ))

      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Setup providers
        run: |
          (cd integration && ./setup_provider.sh ${{ github.event.inputs.nodes }})
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.14"
          CENTRAL_NET_HOST: "${{ github.event.inputs.central_net_host }}"
          OFFER_SERVER: "http://polygongas.org:11500"
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Start providers
        run: |
          (cd integration && ./start_and_detach_provider.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Wait for requestors to finish
        run: |
          until (curl --fail-with-body http://polygongas.org:11500/test/finished/check); do
            printf "\n-- Test not yet finished, retrying in 10 seconds...\n"
            sleep 10
          done

      - name: Kill services
        if: always()
        run: |
          (cd integration && ./kill_all.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Logging
        if: always()
        run: |
          (cd integration && ./collect_logs.sh ${{ github.event.inputs.nodes }})
        env:
          MACHINE_PROV: "gth${{ matrix.provider_group }}"

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: provider-logs-${{ matrix.provider_group }}-${{ github.event.inputs.nodes }}
          path: 'integration/all-logs.tar.gz'

  requestor:
    name: Requestor part
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: set-matrix
    strategy:
      fail-fast: false
      matrix:
        requestor_group: ${{fromJSON(needs.set-matrix.outputs.workers)}}

    steps:
      - name: Wait
        run: |
          sleep $(( ${{ matrix.requestor_group }} * 4 ))

      - name: Checkout
        uses: actions/checkout@v4

      - name: Notify server about requestor start
        run: |
          curl --fail-with-body -X POST http://polygongas.org:11500/test/start \
            -H "Content-Type: application/json" \
            -d '{
            "group": "gth${{ matrix.requestor_group }}"
          }'

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Build
        run: cargo build -p yagna-offer-server

      - name: Prepare python venv
        run: |
          (cd integration && ./prepare_python.sh)

      - name: Setup requestor
        run: |
          (cd integration && ./setup_requestor.sh)
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.14"
          CENTRAL_NET_HOSTS: "${{ github.event.inputs.central_net_host }}"

      - name: Start services
        run: |
          (cd integration && ./start_and_detach_requestor.sh)
        env:
          PICK_OFFERS_INTERVAL_SECS: "0.1"
          OFFER_SOURCE_URL: "http://polygongas.org:11500/offers/list"
          OFFER_MIRROR_SYNC_INTERVAL_SECS: "10"
          OFFER_GROUP: "gth${{ matrix.requestor_group }}"

      - name: Wait for providers to be online
        run: |
          set -e
          
          until (cd integration && python count_offers.py \
            --url "$OFFER_SOURCE_URL" \
            --expected-count ${{ github.event.inputs.nodes }} \
            --name-filter "^$OFFER_GROUP-"); do
            printf "\nProviders not ready yet, retrying in 10 seconds...\n"
            sleep 10
          done
          
          echo "Providers are online"
        env:
          OFFER_SOURCE_URL: "http://polygongas.org:11500/offers/list"
          OFFER_GROUP: "gth${{ matrix.requestor_group }}"

      - name: Check rentals
        run: |
          sleep 30
          (cd integration && ./show_rentals.sh ${{ github.event.inputs.nodes }})

      - name: Notify server about finish
        if: always()
        run: |
          if [ "${{ job.status }}" = "success" ]; then
            SUCCESS=true
          else
            SUCCESS=false
          fi
          
          curl --fail-with-body -X POST http://polygongas.org:11500/test/finish \
            -H "Content-Type: application/json" \
            -d "{
              \"group\": \"gth${{ matrix.requestor_group }}\",
              \"success\": $SUCCESS
            }"

      - name: Wait for other tests to finish
        run: |
          until (curl --fail-with-body http://polygongas.org:11500/test/finished/check); do
            printf "\n-- Test not yet finished, retrying in 10 seconds...\n"
            sleep 10
          done

      - name: Show offers
        if: always()
        run: |
          curl http://127.0.0.1:15155/offers/list | jq

      - name: Show demands
        if: always()
        run: |
          curl http://127.0.0.1:15155/requestor/demands/list | jq

      - name: Kill services
        if: always()
        run: |
          (cd integration && ./kill_all.sh ${{ github.event.inputs.nodes }})

      - name: Logging
        if: always()
        run: |
          (cd integration && ./collect_logs.sh ${{ github.event.inputs.nodes }})

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: requestor-logs-${{ matrix.requestor_group }}-${{ github.event.inputs.nodes }}
          path: 'integration/all-logs.tar.gz'