name: External tests

on:
  push:
  workflow_dispatch:

jobs:
  provider:
    name: External test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        size: [25]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Build
        run: cargo build -p yagna-offer-server

      - name: Prepare python venv
        run: |
          (cd integration && ./prepare_python.sh)

      - name: Setup providers
        run: |
          (cd integration && ./setup_provider.sh "${{ matrix.size }}")
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.14"
          CENTRAL_NET_HOST: "polygongas.org:6999"
          OFFER_SERVER: "http://polygongas.org:11500"

      - name: Setup requestor
        run: |
          (cd integration && ./setup_requestor.sh "${{ matrix.size }}")
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.14"
          CENTRAL_NET_HOSTS: "geode.arkiv-global.net:6999"

      - name: Start services
        run: |
          (cd integration && ./start_and_detach_all.sh "${{ matrix.size }}")
        env:
          PICK_OFFERS_INTERVAL_SECS: "0.1"
          OFFER_SOURCE_URL: "http://polygongas.org:11500/offers/list"
          OFFER_MIRROR_SYNC_INTERVAL_SECS: "10"

      - name: Check rentals
        run: |
          sleep 60
          (cd integration && ./show_rentals.sh "${{ matrix.size }}")

      - name: Show offers
        if: always()
        run: |
          curl http://127.0.0.1:15155/offers/list | jq

      - name: Show demands
        if: always()
        run: |
          curl http://127.0.0.1:15155/requestor/demands/list | jq

      - name: Kill services
        if: always()
        run: |
          (cd integration && ./kill_all.sh "${{ matrix.size }}")

      - name: Logging
        if: always()
        run: |
          (cd integration && ./collect_logs.sh "${{ matrix.size }}")

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: all-logs-${{ matrix.size }}
          path: 'integration/all-logs.tar.gz'