name: Integration tests

on:
  workflow_dispatch:

jobs:
  integration:
    name: Integration Tests
    timeout-minutes: 10

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Build
        run: cargo build -p yagna-offer-server

      - name: Setup integration tests
        run: |
          (cd integration && /bin/bash setup.sh)

      - name: Run integration tests
        run: |
          (cd integration && /bin/bash start_and_detach_all.sh)
          
          
