name: Internal test

on:
  push:
  workflow_dispatch:

jobs:
  router:
    name: Setup central net routers
    runs-on: geode-router
    steps:
      - name: Download and setup ya-sb-router
        run: |
          wget https://github.com/golemfactory/ya-service-bus/releases/download/v0.6.3/ya-sb-router-linux-v0.6.3.tar.gz
          tar -xvf ya-sb-router-linux-v0.6.3.tar.gz
          mv ya-sb-router-linux-v0.6.3/ya-sb-router .
          rm -rf ya-sb-router-linux-v0.6.3
          rm ya-sb-router-linux-v0.6.3.tar.gz
          ./ya-sb-router --version

      - name: Prepare array of executables
        run: |
          mkdir ./routers
          for port in 0 1 2 3 4; do
            port=$((11500 + port))
            cp ./ya-sb-router ./routers/rtr-${port}
          done

      - name: Start routers
        run: |
          for port in 0 1 2 3 4; do
            port=$((11500 + port))
            ./routers/rtr-${port} -l tcp://0.0.0.0:${port} > rtr-${port}.log 2>&1 &
          done

      - name: Kill routers
        if: always()
        run: |
          for port in 0 1 2 3 4; do
            port=$((11500 + port))
            pkill -9 rtr-${port}
          done

      - name: Pack routers logs
        if: always()
        run: |
          tar -czvf router-logs.tar.gz *.log

      - name: Upload routers logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: routers-logs
          path: 'routers-logs.tar.gz'

  integration:
    name: Integration internal test
    timeout-minutes: 10
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        size: [1, 25, 40]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Build
        run: cargo build -p yagna-offer-server

      - name: Force install python libraries
        run: |
          # Don't do this at home
          sudo pip install --ignore-installed requests eth-account dotenv --break-system-packages

      - name: Setup providers
        run: |
          (cd integration && ./setup_provider.sh "${{ matrix.size }}")
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.15"

      - name: Setup router
        run: |
          (cd integration && ./download_router.sh)

      - name: Setup requestor
        run: |
          (cd integration && ./setup_requestor.sh "${{ matrix.size }}")
        env:
          YAGNA_VERSION: "pre-rel-v0.17.6-preview.noarkiv.15"

      - name: Start services
        run: |
          (cd integration && ./start_and_detach_all.sh "${{ matrix.size }}")
        env:
          PICK_OFFERS_INTERVAL_SECS: "0.1"

      - name: Check rentals
        run: |
          sleep 60
          (cd integration && ./show_rentals.sh "${{ matrix.size }}")

      - name: Show offers
        if: always()
        run: |
          curl http://127.0.0.1:15155/offers/list | jq

      - name: Show demands
        if: always()
        run: |
          curl http://127.0.0.1:15155/requestor/demands/list | jq

      - name: Kill services
        if: always()
        run: |
            (cd integration && ./kill_all.sh "${{ matrix.size }}")

      - name: Logging
        if: always()
        run: |
            (cd integration && ./collect_logs.sh "${{ matrix.size }}")

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: all-logs-${{ matrix.size }}
          path: 'integration/all-logs.tar.gz'