name: Check providers only

on:
  workflow_dispatch:
    inputs:
      nodes:
        description: "Number of provider nodes"
        required: true
        default: "10"
      num_workers:
        description: "Number of parallel workers"
        required: false
        default: "5"
      extra_delay_secs:
        description: "Delay between consecutive workers starting"
        required: false
        default: "10"
      timeout_minutes:
        description: "Timeout for jobs"
        required: true
        default: "5"
      central_net_host:
        description: "Central network host"
        required: false
        default: "polygongas.org:6999"

concurrency:
  group: external-tests

jobs:
  set-matrix:
    name: Prepare external test environment
    runs-on: ubuntu-latest
    outputs:
      workers: ${{ steps.set-matrix.outputs.workers }}
    steps:
      - name: Delete external offers (from previous runs)
        run: |
          NUMBER_OF_GROUPS=${{ inputs.num_workers }}
          # Create JSON file
          echo "{\"numberOfGroups\": ${NUMBER_OF_GROUPS}}" > body.json
          
          # Send POST request
          curl --fail-with-body -X POST http://polygongas.org:11500/test/initialize \
            -H "Content-Type: application/json" \
            -d @body.json

      - id: set-matrix
        run: |
          NUMBER_OF_GROUPS=${{ inputs.num_workers }}
          # Use seq to generate numbers, then jq to turn them into a JSON array
          WORKERS=$(seq 0 $(($NUMBER_OF_GROUPS - 1)) | jq -R . | jq -s -c .)
          echo "Setting: workers=$WORKERS"
          echo "workers=$WORKERS" >> $GITHUB_OUTPUT

  provider-gth:
    needs: [set-matrix]
    uses: ./.github/workflows/provider-part.yml
    with:
      nodes: ${{ github.event.inputs.nodes }}
      provider_prefix: gth
      extra_delay_secs: ${{ inputs.extra_delay_secs }}
      workers: ${{ needs.set-matrix.outputs.workers }}
      runs-on: salad-prov
      timeout_minutes: ${{ fromJSON(inputs.timeout_minutes) }}
      central_net_host: ${{ inputs.central_net_host }}
    secrets:
      DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}

